@use '../variables';

.btn-play {
  position: relative;
  height: 180px;
  width: 180px;
  border: 20px solid;
  border-radius: 50%;
  background-color: variables.$whiteBackground;
  box-shadow: inset 0px 8px 3px 1px hsla(0, 0%, 0%, 0.229);
  transition: 0.2s;
}

.btn-play::after {
  position: relative;
  top: -20px;
  left: -20px;
  display: block;
  content: '';
  height: 180px;
  width: 180px;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0px -8px 5px 1px hsla(0, 0%, 0%, 0.506);
  cursor: pointer;
}

.btn-play:hover {
  transform: scale(0.95);
}

/* Mixin to define border color and button position */
@mixin btn-play-border-color-and-position(
  $btnColor: variables.$rockColor,
  $x: 0,
  $y: 0
) {
  top: $y;
  left: $x;
  border-color: $btnColor;
}

.rock {
  @include btn-play-border-color-and-position(
    $btnColor: variables.$rockColor,
    $x: -57px,
    $y: -75px
  );
}

.paper {
  @include btn-play-border-color-and-position(
    $btnColor: variables.$paperColor,
    $x: 200px,
    $y: -282px
  );
}

.scissors {
  @include btn-play-border-color-and-position(
    $btnColor: variables.$scissorsColor,
    $x: 70px,
    $y: -280px
  );
}

/* Mixin to embed icon in button */
@mixin btn-play-icon($urlImg: url(../images/icon-rock.svg)) {
  background: $urlImg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

.rock::after {
  @include btn-play-icon($urlImg: url(../images/icon-rock.svg));
}

.paper::after {
  @include btn-play-icon($urlImg: url(../images/icon-paper.svg));
}

.scissors::after {
  @include btn-play-icon($urlImg: url(../images/icon-scissors.svg));
}

.button-play-hidden {
  display: none;
}

.button-play-temp-style {
  position: static;
  transform: scale(1.5);
  user-select: none;
  z-index: -500;
}
