@use '../variables';

.modal-rules {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;

  height: 430px;
  width: 400px;
  padding: 30px;
  border: none;
  border-radius: 15px;
  background-color: variables.$whiteBackground;

  /* transform: rotate3d(1, 1, 1, 120deg); */
  transform: rotate3d(1, 1, 1, 0deg);
  /* transition: 3s; */
  h2 {
    justify-self: start;
    font-size: 30px;
    text-transform: uppercase;
    color: variables.$darkText;
  }

  .icon-close {
    cursor: pointer;
  }
}

.image-rules {
  width: 100%;
  height: 100%;
  background-image: url(../images/image-rules.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 2 / 1 / 3 / 3;
}

