@use '../variables';

.btn {
    padding: 10px 30px;
    border: 1px solid variables.$whiteBackground;
    border-radius: 8px;
    
    background: none;
    color: variables.$whiteBackground;
    
    font-weight: variables.$font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: inset 0px 0px 0px 1px variables.$whiteBackground;
}